{% liquid
  assign has_second_option = false
  if product.options.size >= 2
    assign has_second_option = true
  endif
%}

<quantity-breaks
  class="quantity-breaks accent-color-{{ block.settings.color_scheme }}"
  id="quantity-breaks-{{ section.id }}"
  data-section="{{ section.id }}"
  data-update-unavailable="{{ has_second_option }}"
  data-update-prices="{{ block.settings.update_prices }}"
  data-money-format="{{ shop.money_format | escape }}"
  style="--margin-top: {{ block.settings.margin_top | divided_by: 10.0 }}rem;--margin-bottom: {{ block.settings.margin_bottom | divided_by: 10.0 }}rem;"
  {{ block.shopify_attributes }}
>
  {% assign has_variants = false %}
  {% assign price = product.selected_or_first_available_variant.price %}
  {% if block.settings.headline != blank %}
    <h3 class="quantity-breaks__title">
      <span></span>
      <span>{{ block.settings.headline }}</span>
      <span></span>
    </h3>
  {% endif %}
  <div class="quantity-breaks-container">
    {% if block.settings.option_1_quantity != 0 %}
      {% liquid
        assign percentage_discount = block.settings.option_1_percentage_off_text | plus: 0
        assign percentage_left = 100 | minus: percentage_discount | divided_by: 100.00
        assign fixed_amount_off = block.settings.option_1_fixed_amount_off | times: 100
        assign option_1_price = price | times: block.settings.option_1_quantity | times: percentage_left | minus: fixed_amount_off

        assign compare_price = price
        if block.settings.option_1_compare_price == 'compare_price' and product.selected_or_first_available_variant.compare_at_price > price
          assign compare_price = product.selected_or_first_available_variant.compare_at_price
        endif
        assign option_1_compare_price = compare_price | times: block.settings.option_1_quantity

        assign option_1_price_difference = option_1_compare_price | minus: option_1_price
        assign option_1_price_difference_rounded = option_1_price_difference | divided_by: 100.00 | round | times: 100
      %}
      <input
        id="quantity1"
        aria-label="Quantity"
        type="radio"
        name="quantity"
        value="{{ block.settings.option_1_quantity }}"
        form="{{ product_form_id }}"
        {% if block.settings.preselected == 'option_1' %}
          checked
        {% endif %}
        data-input="input_1"
      >
      <label
        for="quantity1"
        class="quantity-break"
        data-quantity="{{ block.settings.option_1_quantity }}"
        data-input="input_1"
        data-percentage-left="{{ percentage_left }}"
        data-fixed-discount="{{ fixed_amount_off }}"
      >
        {% if block.settings.display_badge == 'option_1' %}
          <p class="quantity-break__badge">
            {{ block.settings.badge_text }}
          </p>
        {% endif %}
        <div class="quantity-break__content">
          <div class="quantity-break__left">
            <span class="quantity-break__label">
              <span class="quantity-break__label-text">
                {%- if block.settings.option_1_label != blank -%}
                  {{ block.settings.option_1_label }}
                {%- else -%}
                  Buy {{ block.settings.option_1_quantity }}
                {%- endif -%}
              </span>
              {% if block.settings.option_1_benefit != blank %}
                <span class="quantity-break__benefit">{{ block.settings.option_1_benefit }}</span>
              {% endif %}
            </span>
            {% if block.settings.option_1_caption != blank %}
              <span class="quantity-break__caption variant-money-change variant-price-update" data-text="{{ block.settings.option_1_caption }}">
                {% capture amount_saved_money %}{{ option_1_price_difference | money_without_trailing_zeros }}{% endcapture %}
                {% capture amount_saved_rounded_money %}{{ option_1_price_difference_rounded | money_without_trailing_zeros }}{% endcapture %}
                {{ block.settings.option_1_caption | replace: '[amount_saved]', amount_saved_money | replace: '[amount_saved_rounded]', amount_saved_rounded_money }}
              </span>
            {% endif %}
          </div>
          <div class="quantity-break__right variant-money-change">
            <span class="quantity-break__price variant-price-update" data-text="[price]">
              {{ option_1_price | money_without_trailing_zeros }}
            </span>
            <span class="quantity-break__compare-price variant-price-update" data-text="[compare_price]">{% if option_1_compare_price > option_1_price %}{{ option_1_compare_price | money_without_trailing_zeros }}{% endif %}</span>
          </div>
        </div>
        {% if product.has_only_default_variant == false and block.settings.enable_variant_selectors %}
          {% if block.settings.option_1_quantity != 1 or block.settings.enable_variant_selectors_on_quantity_of_1 %}
            <div class="quantity-break__variants" id='option-1-variants-{{ section.id }}'>
              {% assign has_variants = true %}
              {% for selectorItem in (1..block.settings.option_1_quantity) %}
                <div
                  class="quantity-break__selector-item"
                  data-select-index="{{ forloop.index0 }}"
                  data-selected-id="{{ product.selected_or_first_available_variant.id }}"
                >
                  <span class="quantity-break__selector-item__number">#{{ selectorItem }}</span>
                  {%- for option in product.options_with_values -%}
                    <div class="select select--small">
                      <select
                        class="quantity-break__variant-select select__select variant-dropdown"
                        name="options[{{ option.name | escape }}]"
                        data-product-id="{{ product.selected_or_first_available_variant.id }}"
                      >
                        {%- liquid
                          assign variants_available_arr = product.variants | map: 'available'
                          assign variants_option1_arr = product.variants | map: 'option1'
                          assign variants_option2_arr = product.variants | map: 'option2'
                          assign variants_option3_arr = product.variants | map: 'option3'
                        -%}
                        {% for value in option.values %}
                          {%- liquid
                            assign option_disabled = true

                            for option1_name in variants_option1_arr
                              case option.position
                                when 1
                                  if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                                when 2
                                  if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                                when 3
                                  if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                              endcase
                            endfor
                          -%}
                          <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}
                              selected="selected"
                            {% endif %}
                          >
                            {% if option_disabled -%}
                              {{- 'products.product.value_unavailable' | t: option_value: value -}}
                            {%- else -%}
                              {{- value -}}
                            {%- endif %}
                          </option>
                        {% endfor %}
                      </select>
                      {% render 'ds-icon-caret' %}
                    </div>
                  {%- endfor -%}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
      </label>
    {% endif %}
    {% if block.settings.option_2_quantity != 0 %}
      {% liquid
        assign percentage_discount = block.settings.option_2_percentage_off_text | plus: 0
        assign percentage_left = 100 | minus: percentage_discount | divided_by: 100.00
        assign fixed_amount_off = block.settings.option_2_fixed_amount_off | times: 100
        assign option_2_price = price | times: block.settings.option_2_quantity | times: percentage_left | minus: fixed_amount_off

        assign compare_price = price
        if block.settings.option_2_compare_price == 'compare_price' and product.selected_or_first_available_variant.compare_at_price > price
          assign compare_price = product.selected_or_first_available_variant.compare_at_price
        endif
        assign option_2_compare_price = compare_price | times: block.settings.option_2_quantity

        assign option_2_price_difference = option_2_compare_price | minus: option_2_price
        assign option_2_price_difference_rounded = option_2_price_difference | divided_by: 100.00 | round | times: 100
      %}
      <input
        id="quantity2"
        aria-label="Quantity"
        type="radio"
        name="quantity"
        value="{{ block.settings.option_2_quantity }}"
        form="{{ product_form_id }}"
        {% if block.settings.preselected == 'option_2' %}
          checked
        {% endif %}
        data-input="input_2"
      >
      <label
        for="quantity2"
        class="quantity-break"
        data-quantity="{{ block.settings.option_2_quantity }}"
        data-input="input_2"
        data-percentage-left="{{ percentage_left }}"
        data-fixed-discount="{{ fixed_amount_off }}"
      >
        {% if block.settings.display_badge == 'option_2' %}
          <p class="quantity-break__badge">
            {{ block.settings.badge_text }}
          </p>
        {% endif %}
        <div class="quantity-break__content">
          <div class="quantity-break__left">
            <span class="quantity-break__label">
              <span class="quantity-break__label-text">
                {%- if block.settings.option_2_label != blank -%}
                  {{ block.settings.option_2_label }}
                {%- else -%}
                  Buy {{ block.settings.option_2_quantity }}
                {%- endif -%}
              </span>
              {% if block.settings.option_2_benefit != blank %}
                <span class="quantity-break__benefit">{{ block.settings.option_2_benefit }}</span>
              {% endif %}
            </span>
            {% if block.settings.option_2_caption != blank %}
              <span class="quantity-break__caption variant-money-change variant-price-update" data-text="{{ block.settings.option_2_caption }}">
                {% capture amount_saved_money %}{{ option_2_price_difference | money_without_trailing_zeros }}{% endcapture %}
                {% capture amount_saved_rounded_money %}{{ option_2_price_difference_rounded | money_without_trailing_zeros }}{% endcapture %}
                {{ block.settings.option_2_caption | replace: '[amount_saved]', amount_saved_money | replace: '[amount_saved_rounded]', amount_saved_rounded_money }}
              </span>
            {% endif %}
          </div>
          <div class="quantity-break__right variant-money-change">
            <span class="quantity-break__price variant-price-update" data-text="[price]">
              {{ option_2_price | money_without_trailing_zeros }}
            </span>
            <span class="quantity-break__compare-price variant-price-update" data-text="[compare_price]">{% if option_2_compare_price > option_2_price %}{{ option_2_compare_price | money_without_trailing_zeros }}{% endif %}</span>
          </div>
        </div>
        {% if product.has_only_default_variant == false and block.settings.enable_variant_selectors %}
          {% if block.settings.option_2_quantity != 1 or block.settings.enable_variant_selectors_on_quantity_of_1 %}
            <div class="quantity-break__variants" id='option-2-variants-{{ section.id }}'>
              {% assign has_variants = true %}
              {% for selectorItem in (1..block.settings.option_2_quantity) %}
                <div
                  class="quantity-break__selector-item"
                  data-select-index="{{ forloop.index0 }}"
                  data-selected-id="{{ product.selected_or_first_available_variant.id }}"
                >
                  <span class="quantity-break__selector-item__number">#{{ selectorItem }}</span>
                  {%- for option in product.options_with_values -%}
                    <div class="select select--small">
                      <select
                        class="quantity-break__variant-select select__select variant-dropdown"
                        name="options[{{ option.name | escape }}]"
                        data-product-id="{{ product.selected_or_first_available_variant.id }}"
                      >
                        {%- liquid
                          assign variants_available_arr = product.variants | map: 'available'
                          assign variants_option1_arr = product.variants | map: 'option1'
                          assign variants_option2_arr = product.variants | map: 'option2'
                          assign variants_option3_arr = product.variants | map: 'option3'
                        -%}
                        {% for value in option.values %}
                          {%- liquid
                            assign option_disabled = true

                            for option1_name in variants_option1_arr
                              case option.position
                                when 1
                                  if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                                when 2
                                  if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                                when 3
                                  if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                              endcase
                            endfor
                          -%}
                          <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}
                              selected="selected"
                            {% endif %}
                          >
                            {% if option_disabled -%}
                              {{- 'products.product.value_unavailable' | t: option_value: value -}}
                            {%- else -%}
                              {{- value -}}
                            {%- endif %}
                          </option>
                        {% endfor %}
                      </select>
                      {% render 'ds-icon-caret' %}
                    </div>
                  {%- endfor -%}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
      </label>
    {% endif %}
    {% if block.settings.option_3_quantity != 0 %}
      {% liquid
        assign percentage_discount = block.settings.option_3_percentage_off_text | plus: 0
        assign percentage_left = 100 | minus: percentage_discount | divided_by: 100.00
        assign fixed_amount_off = block.settings.option_3_fixed_amount_off | times: 100
        assign option_3_price = price | times: block.settings.option_3_quantity | times: percentage_left | minus: fixed_amount_off

        assign compare_price = price
        if block.settings.option_3_compare_price == 'compare_price' and product.selected_or_first_available_variant.compare_at_price > price
          assign compare_price = product.selected_or_first_available_variant.compare_at_price
        endif
        assign option_3_compare_price = compare_price | times: block.settings.option_3_quantity

        assign option_3_price_difference = option_3_compare_price | minus: option_3_price
        assign option_3_price_difference_rounded = option_3_price_difference | divided_by: 100.00 | round | times: 100
      %}
      <input
        id="quantity3"
        aria-label="Quantity"
        type="radio"
        name="quantity"
        value="{{ block.settings.option_3_quantity }}"
        form="{{ product_form_id }}"
        {% if block.settings.preselected == 'option_3' %}
          checked
        {% endif %}
        data-input="input_3"
      >
      <label
        for="quantity3"
        class="quantity-break"
        data-quantity="{{ block.settings.option_3_quantity }}"
        data-input="input_3"
        data-percentage-left="{{ percentage_left }}"
        data-fixed-discount="{{ fixed_amount_off }}"
      >
        {% if block.settings.display_badge == 'option_3' %}
          <p class="quantity-break__badge">
            {{ block.settings.badge_text }}
          </p>
        {% endif %}
        <div class="quantity-break__content">
          <div class="quantity-break__left">
            <span class="quantity-break__label">
              <span class="quantity-break__label-text">
                {%- if block.settings.option_3_label != blank -%}
                  {{ block.settings.option_3_label }}
                {%- else -%}
                  Buy {{ block.settings.option_3_quantity }}
                {%- endif -%}
              </span>
              {% if block.settings.option_3_benefit != blank %}
                <span class="quantity-break__benefit">{{ block.settings.option_3_benefit }}</span>
              {% endif %}
            </span>
            {% if block.settings.option_3_caption != blank %}
              <span class="quantity-break__caption variant-money-change variant-price-update" data-text="{{ block.settings.option_3_caption }}">
                {% capture amount_saved_money %}{{ option_3_price_difference | money_without_trailing_zeros }}{% endcapture %}
                {% capture amount_saved_rounded_money %}{{ option_3_price_difference_rounded | money_without_trailing_zeros }}{% endcapture %}
                {{ block.settings.option_3_caption | replace: '[amount_saved]', amount_saved_money | replace: '[amount_saved_rounded]', amount_saved_rounded_money }}
              </span>
            {% endif %}
          </div>
          <div class="quantity-break__right variant-money-change">
            <span class="quantity-break__price variant-price-update" data-text="[price]">
              {{ option_3_price | money_without_trailing_zeros }}
            </span>
            <span class="quantity-break__compare-price variant-price-update" data-text="[compare_price]">{% if option_3_compare_price > option_3_price %}{{ option_3_compare_price | money_without_trailing_zeros }}{% endif %}</span>
          </div>
        </div>
        {% if product.has_only_default_variant == false and block.settings.enable_variant_selectors %}
          {% if block.settings.option_3_quantity != 1 or block.settings.enable_variant_selectors_on_quantity_of_1 %}
            <div class="quantity-break__variants" id='option-3-variants-{{ section.id }}'>
              {% assign has_variants = true %}
              {% for selectorItem in (1..block.settings.option_3_quantity) %}
                <div
                  class="quantity-break__selector-item"
                  data-select-index="{{ forloop.index0 }}"
                  data-selected-id="{{ product.selected_or_first_available_variant.id }}"
                >
                  <span class="quantity-break__selector-item__number">#{{ selectorItem }}</span>
                  {%- for option in product.options_with_values -%}
                    <div class="select select--small">
                      <select
                        class="quantity-break__variant-select select__select variant-dropdown"
                        name="options[{{ option.name | escape }}]"
                        data-product-id="{{ product.selected_or_first_available_variant.id }}"
                      >
                        {%- liquid
                          assign variants_available_arr = product.variants | map: 'available'
                          assign variants_option1_arr = product.variants | map: 'option1'
                          assign variants_option2_arr = product.variants | map: 'option2'
                          assign variants_option3_arr = product.variants | map: 'option3'
                        -%}
                        {% for value in option.values %}
                          {%- liquid
                            assign option_disabled = true

                            for option1_name in variants_option1_arr
                              case option.position
                                when 1
                                  if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                                when 2
                                  if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                                when 3
                                  if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                              endcase
                            endfor
                          -%}
                          <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}
                              selected="selected"
                            {% endif %}
                          >
                            {% if option_disabled -%}
                              {{- 'products.product.value_unavailable' | t: option_value: value -}}
                            {%- else -%}
                              {{- value -}}
                            {%- endif %}
                          </option>
                        {% endfor %}
                      </select>
                      {% render 'ds-icon-caret' %}
                    </div>
                  {%- endfor -%}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
      </label>
    {% endif %}
    {% if block.settings.option_4_quantity != 0 %}
      {% liquid
        assign percentage_discount = block.settings.option_4_percentage_off_text | plus: 0
        assign percentage_left = 100 | minus: percentage_discount | divided_by: 100.00
        assign fixed_amount_off = block.settings.option_4_fixed_amount_off | times: 100
        assign option_4_price = price | times: block.settings.option_4_quantity | times: percentage_left | minus: fixed_amount_off

        assign compare_price = price
        if block.settings.option_4_compare_price == 'compare_price' and product.selected_or_first_available_variant.compare_at_price > price
          assign compare_price = product.selected_or_first_available_variant.compare_at_price
        endif
        assign option_4_compare_price = compare_price | times: block.settings.option_4_quantity 

        assign option_4_price_difference = option_4_compare_price | minus: option_4_price
        assign option_4_price_difference_rounded = option_4_price_difference | divided_by: 100.00 | round | times: 100
      %}
      <input
        id="quantity4"
        aria-label="Quantity"
        type="radio"
        name="quantity"
        value="{{ block.settings.option_4_quantity }}"
        form="{{ product_form_id }}"
        {% if block.settings.preselected == 'option_4' %}
          checked
        {% endif %}
        data-input="input_4"
      >
      <label
        for="quantity4"
        class="quantity-break"
        data-quantity="{{ block.settings.option_4_quantity }}"
        data-input="input_4"
        data-percentage-left="{{ percentage_left }}"
        data-fixed-discount="{{ fixed_amount_off }}"
      >
        {% if block.settings.display_badge == 'option_4' %}
          <p class="quantity-break__badge">
            {{ block.settings.badge_text }}
          </p>
        {% endif %}
        <div class="quantity-break__content">
          <div class="quantity-break__left">
            <span class="quantity-break__label">
              <span class="quantity-break__label-text">
                {%- if block.settings.option_4_label != blank -%}
                  {{ block.settings.option_4_label }}
                {%- else -%}
                  Buy {{ block.settings.option_4_quantity }}
                {%- endif -%}
              </span>
              {% if block.settings.option_4_benefit != blank %}
                <span class="quantity-break__benefit">{{ block.settings.option_4_benefit }}</span>
              {% endif %}
            </span>
            {% if block.settings.option_4_caption != blank %}
              <span class="quantity-break__caption variant-money-change variant-price-update" data-text="{{ block.settings.option_4_caption }}">
                {% capture amount_saved_money %}{{ option_4_price_difference | money_without_trailing_zeros }}{% endcapture %}
                {% capture amount_saved_rounded_money %}{{ option_4_price_difference_rounded | money_without_trailing_zeros }}{% endcapture %}
                {{ block.settings.option_4_caption | replace: '[amount_saved]', amount_saved_money | replace: '[amount_saved_rounded]', amount_saved_rounded_money }}
              </span>
            {% endif %}
          </div>
          <div class="quantity-break__right variant-money-change">
            <span class="quantity-break__price variant-price-update" data-text="[price]">
              {{ option_4_price | money_without_trailing_zeros }}
            </span>
            <span class="quantity-break__compare-price variant-price-update" data-text="[compare_price]">{% if option_4_compare_price > option_4_price %}{{ option_4_compare_price | money_without_trailing_zeros }}{% endif %}</span>
          </div>
        </div>
        {% if product.has_only_default_variant == false and block.settings.enable_variant_selectors %}
          {% if block.settings.option_4_quantity != 1 or block.settings.enable_variant_selectors_on_quantity_of_1 %}
            <div class="quantity-break__variants" id='option-4-variants-{{ section.id }}'>
              {% assign has_variants = true %}
              {% for selectorItem in (1..block.settings.option_4_quantity) %}
                <div
                  class="quantity-break__selector-item"
                  data-select-index="{{ forloop.index0 }}"
                  data-selected-id="{{ product.selected_or_first_available_variant.id }}"
                >
                  <span class="quantity-break__selector-item__number">#{{ selectorItem }}</span>
                  {%- for option in product.options_with_values -%}
                    <div class="select select--small">
                      <select
                        class="quantity-break__variant-select select__select variant-dropdown"
                        name="options[{{ option.name | escape }}]"
                        data-product-id="{{ product.selected_or_first_available_variant.id }}"
                      >
                        {%- liquid
                          assign variants_available_arr = product.variants | map: 'available'
                          assign variants_option1_arr = product.variants | map: 'option1'
                          assign variants_option2_arr = product.variants | map: 'option2'
                          assign variants_option3_arr = product.variants | map: 'option3'
                        -%}
                        {% for value in option.values %}
                          {%- liquid
                            assign option_disabled = true

                            for option1_name in variants_option1_arr
                              case option.position
                                when 1
                                  if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                                when 2
                                  if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                                when 3
                                  if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                  endif
                              endcase
                            endfor
                          -%}
                          <option
                            value="{{ value | escape }}"
                            {% if option.selected_value == value %}
                              selected="selected"
                            {% endif %}
                          >
                            {% if option_disabled -%}
                              {{- 'products.product.value_unavailable' | t: option_value: value -}}
                            {%- else -%}
                              {{- value -}}
                            {%- endif %}
                          </option>
                        {% endfor %}
                      </select>
                      {% render 'ds-icon-caret' %}
                    </div>
                  {%- endfor -%}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        {% endif %}
      </label>
    {% endif %}
  </div>

  <script data-has-variants="{{ has_variants }}" type="application/json">
    {{ product.variants | json }}
  </script>
</quantity-breaks>
