{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% comment %}
    Renders a product thumbnail with a modal-opener

    Accepts:
    - media: {Object} Product Media object
    - media_count: {Number} Number of media objects
    - position: {String} Position of the media. Used for accessible label.
    - desktop_layout: {String} Layout of the media for desktop.
    - mobile_layout: {String} Layout of the media for mobile.
    - loop: {Boolean} Enable video looping (optional)
    - modal_id: {String} The product modal that will be shown by clicking the thumbnail
    - xr_button: {Boolean} Renders the "View in your space" button (shopify-xr-button) if the media is a 3D Model
    - constrain_to_viewport: {Boolean} Force media height to fit within viewport
    - media_fit: {String} Method ("contain" or "cover") to fit image into container
    - media_width: {Float} The width percentage that the media column occupies on desktop.
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)

    Usage:
    {% render 'product-thumbnail',
      media: media,
      position: forloop.index,
      loop: section.settings.enable_video_looping,
      modal_id: section.id
    %}
{% endcomment %}

{%- liquid
  unless lazy_load == false
    assign lazy = 'lazy'
  endunless

  assign desktop_columns = 1
  if desktop_layout == 'columns' and media_count > 1
    assign desktop_columns = 2
  endif

  assign mobile_columns = 1
  if mobile_layout == 'columns' and media_count > 1
    assign mobile_columns = 2
  endif

  if media.media_type == 'image'
    assign image_class = 'image-magnify-' | append: section.settings.image_zoom
  endif

  assign has_modal = false
  assign has_video_modal = false
  assign is_no_modal_video = false
  assign media_type = media.media_type
  if media.media_type != 'image'
    if media.media_type == 'video' and section.settings.video_player == 'modal'
      assign has_modal = true
      assign has_video_modal = true
    elsif media.media_type != 'video'
      assign has_modal = true
    endif
    if media.media_type == 'video' and section.settings.video_player != 'modal'
      assign media_type = 'image'
      assign is_no_modal_video = true
    endif
  endif
-%}

{%- capture sizes -%}
  (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: media_width | divided_by: desktop_columns | round }}px, (min-width: 990px) calc({{ media_width | times: 100 | divided_by: desktop_columns }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / {{ mobile_columns }} - 4rem)
{%- endcapture -%}

<div
  class="product-media-container media-type-{{ media.media_type }} media-fit-{{ media_fit }} global-media-settings gradient{% if constrain_to_viewport %} constrain-height{% endif %}"
  style="--ratio: {{ media.aspect_ratio | default: 1.0 }}; --preview-ratio: {{ media.preview_image.aspect_ratio | default: 1.0 }};"
>
  {% if section.settings.trust_badge != blank %}
    <div class='product-media__trust-badge product-media__trust-badge--{{ section.settings.trust_badge_position }} product-media__trust-badge--{{ section.settings.trust_badge_size }}'>
      <img
        src="{{ section.settings.trust_badge | image_url: width: 500 }}"
        alt="{{ section.settings.trust_badge.alt | escape }}"
        loading="lazy"
        width="auto"
        height="auto"
      >
    </div>
  {% endif %}
  <noscript>
    {%- if has_video_modal or media.media_type == 'external_video' -%}
      <span class="product__media-icon motion-reduce quick-add-hidden">{% render 'ds-icon-play' %}</span>
      <div class="product__media media">
        {{ media.preview_image | image_url: width: 1946 | image_tag:
          loading: lazy,
          sizes: sizes,
          widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
        }}
      </div>
      <a href="{% if media.media_type == 'video' %}{{ media.sources[1].url }}{% else %}{{ media | external_video_url }}{% endif %}" class="product__media-toggle">
        <span class="visually-hidden">{{ 'products.product.video_exit_message' | t: title: product.title | escape }}</span>
      </a>
    {%- else -%}
      <div class="product__media media">
        {{ media.preview_image | image_url: width: 1946 | image_tag:
          loading: lazy,
          sizes: sizes,
          widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
        }}
      </div>
    {%- endif -%}
  </noscript>

  <modal-opener class="product__modal-opener product__modal-opener--{{ media_type }} no-js-hidden" data-modal="#ProductModal-{{ modal_id }}">
    <span class="product__media-icon motion-reduce quick-add-hidden{% if media.media_type == 'image' %} product__media-icon--{{ section.settings.image_zoom }}{% endif %}{% if is_no_modal_video %} hidden{% endif %}" aria-hidden="true">
      {%- liquid
        case media.media_type
          when 'video' or 'external_video'
            if has_video_modal
              render 'ds-icon-play'
            endif
          when 'model'
            render 'ds-icon-3d-model'
          else
            render 'ds-icon-zoom'
        endcase
      -%}
    </span>
    <div class="product__media media media--transparent">
      {% if media.media_type == 'video' and section.settings.video_player != 'modal' %}
        {% liquid
          assign is_autoplay = false
          if section.settings.video_player == 'autoplay' 
            assign is_autoplay = true
          endif
        %}
        <internal-video
          class="internal-video{% if is_autoplay %} internal-video--playing{% endif %}"
          data-autoplay="{{ is_autoplay }}"
        >
          <video
            width="100%"
            height="auto"
            preload="metadata"
            poster="{{ media.preview_image | image_url }}"
            {% if is_autoplay or section.settings.enable_video_looping %}
              loop
            {% endif %}
            {% if is_autoplay %}
              muted="muted"
              autoplay="autoplay"
            {% endif %}
            playsinline
            disablepictureinpicture
          >
            {% for source in media.sources %}
              {% if source.mime_type == 'video/mp4'%}
                <source
                  src="{{ source.url }}" 
                  type="{{ source.mime_type }}"
                >
              {% endif %}
            {% endfor %}
          </video>
          {% if section.settings.autoplay_videos_pause_btn or is_autoplay == false %}
            <button class="internal-video__play">
              <div class="play-button color-{{ section.settings.play_btn_color_scheme }}">
                {%- render 'ds-icon-play' -%}
              </div>
            </button>
          {% endif %}
        </internal-video>
      {% else %}
        {{ media.preview_image | image_url: width: 1946 | image_tag:
          class: image_class,
          loading: lazy,
          sizes: sizes,
          widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
        }}
      {% endif %}
    </div>
    <button class="product__media-toggle quick-add-hidden product__media-zoom-{{ section.settings.image_zoom }}{% if is_no_modal_video %} hidden{% endif %}" type="button" aria-haspopup="dialog" data-media-id="{{ media.id }}">
      <span class="visually-hidden">
        {{ 'products.product.media.open_media' | t: index: position }}
      </span>
    </button>
  </modal-opener>

  {%- if has_modal -%}
    {%- if media.media_type == 'model' -%}
      <product-model class="deferred-media media media--transparent no-js-hidden" data-media-id="{{ media.id }}">
    {%- else -%}
      <deferred-media class="deferred-media media media--transparent no-js-hidden" data-media-id="{{ media.id }}">
    {%- endif -%}
    <button id="Deferred-Poster-Modal-{{ media.id }}" class="deferred-media__poster" type="button">
      <span class="deferred-media__poster-button motion-reduce">
        {%- if media.media_type == 'model' -%}
          <span class="visually-hidden">{{ 'products.product.media.play_model' | t }}</span>
          {%- render 'ds-icon-3d-model' -%}
        {%- else -%}
          <span class="visually-hidden">{{ 'products.product.media.play_video' | t }}</span>
          {%- render 'ds-icon-play' -%}
        {%- endif -%}
      </span>
      {{ media.preview_image | image_url: width: 1946 | image_tag:
        loading: lazy,
        sizes: sizes,
        widths: '246, 493, 600, 713, 823, 990, 1100, 1206, 1346, 1426, 1646, 1946'
      }}
    </button>
    <template>
      {%- liquid
        case media.media_type
        when 'external_video'
          assign video_class = 'js-' | append: media.host
          if media.host == 'youtube'
            echo media | external_video_url: autoplay: true, loop: loop, playlist: media.external_id | external_video_tag: class: video_class, loading: "lazy"
          else
            echo media | external_video_url: autoplay: true, loop: loop | external_video_tag: class: video_class, loading: "lazy"
          endif
        when 'video'
          echo media | media_tag: image_size: "2048x", autoplay: true, loop: loop, controls: true, preload: "none"
        when 'model'
          echo media | media_tag: image_size: "2048x", toggleable: true
        endcase
      -%}
    </template>

    {%- if media.media_type == 'model' -%}
      </product-model>
      {%- if xr_button -%}
        <button
          class="button button--full-width product__xr-button"
          type="button"
          aria-label="{{ 'products.product.xr_button_label' | t }}"
          data-shopify-xr
          data-shopify-model3d-id="{{ media.id }}"
          data-shopify-title="{{ product.title | escape }}"
          data-shopify-xr-hidden
          >
          {% render 'ds-icon-3d-model' %}
          {{ 'products.product.xr_button' | t }}
        </button>
      {%- endif -%}
    {%- else -%}
      </deferred-media>
    {%- endif -%}
  {%- endif -%}
</div>
